<html>

<body style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs">
    <table
        style="min-width: 100%; min-height: 100%; margin: 0; display: flex; align-items: center; justify-content: center; flex-direction: column; background-color: whitesmoke;">
        {%if event.banner%}
        <tr>
            <td>
                <center>
                    <img style="width: 600px; border-radius: 0.5rem;"
                        src="https://clic.epfl.ch/directus/assets/37b841c9-0411-4226-98ab-0747f32597d5"
                        alt="{{event.name}} logo">
                </center>
            </td>
        </tr>
        {%endif%}
        <tr>
            <td>
                <center>

                    <table
                        style="background-color: white; width: 600px; padding: 1rem; border-radius: 0.5rem; box-shadow: 5px 5px 20px rgb(191, 191, 191);">
                        <tr>
                            <td>
                                <p style="color: gray; font-style: italic;">Hi {{ registration.first_name }},</p>
                                <center>
                                    <h1>Thank you for registering for {{ event.name }} !</h1>
                                    <p>
                                    ⚠️ Your spot is only guaranteed after payment. Tickets go fast, so pay quickly to secure yours.
                                    </p>
                                </center>
                                <hr style="color: lightgray;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>You can validate your inscription by paying your place at the CLIC office in INM 177,
                                    by
                                    cash or camipro. Our office's opening times: 3rd-13th November (excluding weekends) from 11am to 2pm. <br><br>
                                    Or by bank transfer using the following QR-code (use this link if it doesn't load:
                                    <a
                                        href="{{ qrbill_url }}">click
                                        here</a>).
                                </p>
                                <img width="550px"
                                    src="{{ qrbill_url }}"
                                    alt="qr code">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <p style="color: gray; font-style: italic;">Looking forward to vibing with you 💙💛❤️</p>
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center style="background: #499d70; border-radius: 0.375rem;">
                                    <p style="padding-top:1rem; color: white;">Follow us on our socials</p><a
                                        href="https://t.me/clicepfl"><img
                                            src="https://clic.epfl.ch/directus/assets/e2b444de-87a9-438b-b75e-a6864ba925b2?width=1920"
                                            alt="Telegram" style="height:2rem;margin:0 0.5rem 1rem 0.5rem"></a><a
                                        href="https://www.instagram.com/clicepfl/"><img
                                            src="https://clic.epfl.ch/directus/assets/64785955-9d77-42d3-9046-a0f998fabd26?width=1920"
                                            alt="Instagram" style="height:2rem;margin:0 0.5rem 1rem 0.5rem"></a><a
                                        href="https://twitter.com/CLICepfl"><img
                                            src="https://clic.epfl.ch/directus/assets/ef28026f-965c-4f1f-b7a9-eaafea804a07?width=1920"
                                            alt="X" style="height:2rem;margin:0 0.5rem 1rem 0.5rem"></a><a
                                        href="https://github.com/clicepfl/"><img
                                            src="https://clic.epfl.ch/directus/assets/f6cb71fa-e038-4629-b54e-d2fb40fe9666?width=1920"
                                            alt="Github" style="height:2rem;margin:0 0.5rem 1rem 0.5rem"></a><a
                                        href="clic@epfl.ch"><img
                                            src="https://clic.epfl.ch/directus/assets/b8650fa0-061f-427f-a4a0-97febb99c103?width=1920"
                                            alt="Mail CLIC" style="height:2rem;margin:0 0.5rem 1rem 0.5rem"></a>
                                </center>
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <center>
                    <img style="width: 10rem; margin: 2rem;"
                        src="https://clic.epfl.ch/directus/assets/f5e0bd00-3f25-4d01-be19-4a7e17c66560" alt="clic logo">
                </center>
            </td>
        </tr>
    </table>
</body>

</html>
